body#gsr.hp.vasq{
    background-image: url(“http://interfacelift.com/wallpaper/D307f62b/03514_duskatlakezurich_1440x900.jpg");
   }
   div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
   }